body{
  background: url("background.png");
}

.hero{
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}
.hero_logo{
  background-image:url("logo.png");
  height:120px;
  background-size:100% 100%;
  background-repeat:no-repeat;
  animation-duration:1s;
  animation-name: fadeIn;
}


@keyframes fadeIn{
  from {
    opacity:0;
  }
  to{
    opacity:1;
  }
}