.tui-image-editor-header img{
    display:none;
}

.tui-image-editor-help-menu{
    display:none!important;
}
.tui-image-editor-download-btn{
    display:none!important;
}
.app-btn{
    display: inline-block;
    position: absolute;
    top:8.5px;
    margin-top:0px;
    width: 120px;
    height: 40px;
    padding: 0;
    line-height: 20px;
    z-index:10;
    vertical-align: middle;
    letter-spacing: .3px;
    text-align: center;
}

.load-btn{
    right:180px;
}
.signup-btn{
    left:180px;
}
.save-btn{
    right:360px;
}
.tui-image-editor-header-buttons div{
    border-radius:.25rem!important;
    font-weight:400!important;
    color: #212529!important;
    font-size:1rem !important;
}