body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fade-in{
  animation-name:fadeIn;
}
@keyframes fadeIn{
  from {
    opacity:0;
  }
  to{
    opacity:1;
  }
}

.centered{
  margin:auto;
}
a:hover{
  text-decoration:none;
}
.btn{
  font-weight:400;
  font-size:18px;
  display:block;
  margin-top:20px;
}
.btn input{
  cursor:pointer;
}
.header-white{
  color: #EEE;
  font-weight:200;
}